<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha Estante Virtual{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
            <div class="aolado">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Logo" class="logo" >
            </a>      
            <p class="txt_logo">E.V</p> 
            </div>
           
        <button><a href="{{ url_for('show_add_form') }}" class="add-button">+</a></button>
    </header>

    <main>
    {% block content %}
    {% endblock %}
    </main>

    <footer>
        <p>&copy;direitos reservados Igor Brumana</p>
    </footer>
</body>
</html>